.user_test{
    padding-top: 70px;
}
/*=======================================
    　　  editとnewの共通
=======================================*/
.wrapper_shadow{
    padding-top: 120px;
}
.container_shadow{
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 60px auto;
    box-shadow: gray 0px 1px 3px 0px;
    border-radius: 4px;
}
/*=======================================
              new
=======================================*/
.user_new_form span{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}
.user_new_form input{
    width: 50%;
    border: 2px solid #eaedef;
    border-radius: 6px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 14px;
}
.user_new_btn{
    width: 62%;
    height: 40px;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
    margin: 14px 0;
}
/*=======================================
              edit
=======================================*/
.user_edit{
    width: 100%;
    height: 1000px;
    background-color: #e2e2e2;
    margin-bottom: -60px;
    padding-top: 90px;
}
.user_wrapper{
    background-color: white;
    width: 80%;
    height: 800px;
    z-index: 10;
    border: 3px solid #eaedef;
    margin: 80px auto;
    border-radius: 8px;
}
.user_content{
    text-align: center;
    padding: 30px;
}
.user_edit_form p{
    font-size: 20px;
}
.user_edit_form input{
    height: 24px;
    width: 50%;
    border: 2px solid #eaedef;
    border-radius: 6px;
}
.user_edit_form span{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}
.user_edit_image input{
    border: none;
}
.user_edit_btn input{
    width: 20%;
    height: 40px;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
}
/*=======================================
              show
=======================================*/
.user_show{
    width: 100%;
    height: 1000px;
    background-color: #e2e2e2;
    margin-bottom: -60px;
    padding-top: 90px;
}
.user_information img{
    width: 200px;
    height: 200px;
    margin: 50px 0;
    border-radius: 100px;
}
.user_information h2{
    color: #800000;
}
.user_show_link a{
    color: white;
    background-color: #4a90e2;
    width: 90px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}
/*=======================================
              login
=======================================*/
.user_login_form{
    margin-top: 20px;
}
.user_login_form span{
    width: 100px;
    display: inline-block;
}
